ul{
    list-style: none;
}
.lineL{
   border-left: 2px solid black; 
    margin-left: 20px; 
    padding-left: 10px;
 }
 .lineR{
    border-right: 2px solid black; 
    margin-right: 20px; 
    padding-right: 10px;
 }
 .dsda{
    font-size: 100px;
   }
   .modal-title,.modal-body{
    color: black;
   }
  
   .btn{
    margin-top :5px;
   } 
   .nav-link{
    color: #27f21d;
   }
   .nav-link:hover{
    color: white;
    transition: 1s;
   }
   .nav-links{
    color: black;
   }
   .nav-links:hover{
    color: white;
    transition: 1s;
   }
   .active{
    color: green;
   }
   .active:hover{
   color: white;
   }
.section-breadcrumb {
  background: #d8e5da;
  margin-top: 10px;
}
.section-breadcrumb h1 {
  color: #000;
  font-size: 1.6em;
  margin-bottom: 0;
  text-transform: none;
}

.section-breadcrumbs {
  background: #ace7b7;
  margin-top: 10px;
}
.section-breadcrumbs h1 {
  color: #000;
  font-size: 1.6em;
  margin-bottom: 0;
  text-transform: none;
}
.tiuk{
  padding-top: 10px;
}
   #footer {
    position: none; /* Фиксированное положение */
    left: :  0; bottom: 0; /* Левый нижний угол */
    padding: 10px; /* Поля вокруг текста */
    background: #39b54a; /* Цвет фона */
    color: white; /* Цвет текста */
    width: 100%; /* Ширина слоя */
  }
 .fot{
  text-align: center;
  font-size: 12px;
 }
 .me{
  color: black;
  font-size: 8px;
 }
.row{
  width: 100%;
}
.imga{
  padding-top: 10px;
  margin-bottom: 20px;
}
.hei{
  padding-top: 80px;
}
.styl{
  padding-top: 5px;
  color: black;
  text-align: center;
  font: 14pt/16pt segoe print ;
}
a{
  color: black;
}
.stylt{
  padding-top: 5px;
  color: black;
  text-align: left;
  font: 12pt/16pt segoe print ;
   border-left: 2px solid #ccc; 
    margin-left: 20px; 
    padding-left: 10px;  
}
.styld{
  color: green;
  text-align: left;
  padding-top: 10px;
  font: 10pt/10pt segoe print ;
  margin-bottom: 0px;
}
.navbar-toggler-icon{

}
html, body {
    margin: 0;
    padding: 0;
}

.q-container {
    display: inline-block;
    padding: 30px;
    margin: auto;
    background-color: rgb(240,240,240);
}

label.capsule {
    display: block;
    width: 60px;
    border: 1px solid rgb(200,200,200);
    line-height: 30px;
    border-radius: 25px;
    background-color: #EF9A9A;
}

.circle {
    margin-top: 5px;
    margin-left: 5px;
    position: absolute;
    height: 20px;
    width: 20px;
    border-radius: 30px;
    /*border: 1px solid black;*/
    background-color: rgb(219, 218, 218);
    box-shadow: 2px 1px 1px 0px rgb(109, 105, 105);
}

.text-signs {
    text-align: center;
}

.text-signs span {
    user-select:none;
    -webkit-user-select:none;
    color: rgb(93, 81, 81);
}

#hidcheck:checked ~ .capsule .text-signs #on {
    margin-left: -12px;
    animation-name:toggle-on;
    animation-duration:400ms;
    animation-fill-mode:forwards;
    animation-timing-function:ease-out;
}

#hidcheck:checked ~ .capsule .text-signs #on:before {
    content: 
}

#hidcheck:not(:checked) ~ .capsule .text-signs #on {
    margin-left: 12px;
    animation-name:toggle-off;
    animation-duration:400ms;
    animation-fill-mode:forwards;
    animation-timing-function:ease-out;
}

#hidcheck:not(:checked) ~ .capsule .text-signs #on:after {
    content: 
}

@-webkit-keyframes toggle-on {
    0% {margin-left: 0px;}
    100% {margin-left: -12px;}
}

@-webkit-keyframes toggle-off {
    0% {margin-left: 0px;}
    100% {margin-left: 12px;}
}

#hidcheck:checked ~ .capsule {
    background-color: #8BC34A;
}

#hidcheck:checked ~ .capsule .circle {
    animation-name:toggle;
    animation-duration:400ms;
    animation-fill-mode:forwards;
    animation-timing-function:ease-out;
}

#hidcheck:not(:checked) ~ .capsule .circle {
    animation-name:toggle-back;
    animation-duration:400ms;
    animation-fill-mode:forwards;
    animation-timing-function:ease-in-out;
    animation-direction:reverse;
}

@-webkit-keyframes toggle-back {
    0% {
        margin-left: 2px;
        box-shadow: 2px 1px 1px 0px rgb(109, 105, 105);
    }

    10% {
        width: 22px;
    }

    20% {
        width: 23px;
    }

    30% {
        width: 24px;
    }

    40% {
        width: 25px;
    }

    45% {
        width: 27px;
    }
    50% {
        width: 29px;
    }
    55% {
        width: 27px;
    }

    60% {
        width: 23px;
    }

    70% {
        width: 22px;
    }

    80% {
        width: 21px;
    }

    90% {
        width: 20px;
    }

    100% {
        margin-left: 38px;
        width: 20px;
        height: 20px;
        box-shadow: -2px 1px 1px 0px rgb(109, 105, 105);
    }
}

@-webkit-keyframes toggle {
    0% {
        margin-left: 2px;
        box-shadow: 2px 1px 1px 0px rgb(109, 105, 105);
    }

    10% {
        width: 22px;
    }

    20% {
        width: 23px;
    }

    30% {
        width: 24px;
    }

    40% {
        width: 25px;
    }

    45% {
        width: 27px;
    }

    50% {
        width: 29px;
    }

    55% {
        width: 27px;
    }

    60% {
        width: 23px;
    }

    70% {
        width: 22px;
    }

    80% {
        width: 21px;
    }

    90% {
        width: 20px;
    }

    100% {
        margin-left: 38px;
        width: 20px;
        height: 20px;
        box-shadow: -2px 1px 1px 0px rgb(109, 105, 105);
    }
}
hr{
  background-color: green;
  padding-top: 1px;
  width: 80%;
}
.stylz{
  padding-top: 5px;
  color: #0f730c;
  text-align: center;
  font: 32pt/16pt segoe print ;
}
.styls{
  text-align: left;
  color: black;
  font: 12pt/16pt segoe print ;
}

